@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 20px;
  color: #000000;
  background-color: #d9d9d9;

  font-weight: 400;
}

  
.navbar ul li {
  display: inline;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;

  font-size: 20px;
}
/*center the navbar items */
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .The red background bar */

.navbar {
  background-color: #fd0202;
  padding: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
}
.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}
.navbar a:hover {
  text-decoration: underline;
  color: #a1a1a2;
}
h1,h2,h3 {
  text-align: center;
  font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p {
  text-align: center;
  font-size: 14px;
  color: #888888;
  margin-top: 20px;
  background-color: #1bdd09;
}

/* center the profile picture*/

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}